<div class="container">
  <div class="col-12 row justify-content-center">
    <h1 class="">你想對誰說幹話？</h1>
  </div>
  <div class="">
    <form action="" method="POST">
      <div class="col-12 row justify-content-center">
        <div class="col-4 full-card {{#if target.engineer}}choose-this{{/if}}">
          <div class="people-card people-dev"></div>
          <label class="choose row justify-content-center"><input type="radio" name="engineer" class="target"
              id="angry-engineer" {{#if target.engineer}}checked{{/if}}>工程師</label>
        </div>
        <div class="col-4 full-card {{#if target.designer}}choose-this{{/if}}">
          <div class="people-card people-des "></div>
          <label class="choose row justify-content-center"><input type="radio" name="designer" class="target"
              id="angry-designer" {{#if target.designer}}checked{{/if}}>設計師</label>
        </div>
        <div class="col-4 full-card {{#if target.founder}}choose-this{{/if}}">
          <div class="people-card people-founder "></div>
          <label class="choose row justify-content-center"><input type="radio" name="founder" class="target"
              id="angry-founder" {{#if target.founder}}checked{{/if}}>創業家</label>

        </div>
      </div>

      <div class="col-12 row justify-content-center mt-5">
        <div>
          <button type="submit" class="button mr-5 mt-1">產生幹話</button>
        </div>
        <input type="textarea" class="col-8 feedback" style="height:100px" value="{{trash}}">
      </div>

    </form>
  </div>
</div>